[Unit]
Description=Run Signal Service Watchdog every 5 minutes
Requires=smc-watchdog.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=smc-watchdog.service

[Install]
WantedBy=timers.target
