[Unit]
Description=Send Daily Report at Midnight UTC
Requires=smc-daily-report.service

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 00:00:00
Unit=smc-daily-report.service

[Install]
WantedBy=timers.target
